.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title {
    @include adaptiveValue("font-size", 36, 24);
    line-height: math.div(42, 36);
    text-align: center;
    text-shadow: 0px rem(2) rem(4) rgba(0, 0, 0, 0.5);
    @include adaptiveValue("margin-bottom", 30, 16);
    .ru &,
    .fr & {
        @include adaptiveValue("font-size", 30, 24);
    }
    @media (max-height: em(375)) {
        font-size: rem(24) !important;
        margin-bottom: rem(16);
    }
}

.positives {
    position: relative;
    left: 50%;
    @include adaptiveValue("margin-bottom", 52, 36);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, 0px);
    max-width: rem(290);
    @media (max-height: em(375)) {
        margin-bottom: rem(36);
    }
    &__item {
        font-family: "SFProText";
        line-height: math.div(30, 17);
        letter-spacing: em(-0.32, 17);
        text-shadow: 0px 0px rem(4) rgba(0, 0, 0, 0.684495);
        display: inline-flex;
        align-items: center;
        gap: 0 rem(6);
        width: 100%;
        @media (max-height: em(700)) {
            font-size: rem(14);
            line-height: math.div(24, 14);
        }
    }

    &__icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 rem(26);
        img {
            max-width: 100%;
        }
        @media (max-height: em(700)) {
            flex: 0 0 rem(18);
        }
    }

    &__title {
        white-space: nowrap;
    }
}

.types {
    &__top {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(15);
        margin-bottom: rem(24);
    }

    &__item {
        text-align: center;
        position: relative;
        flex: 0 0 rem(131);
        min-height: rem(162);
        padding: rem(26) rem(10) rem(13) rem(10);
        opacity: 0.5;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
        &._active {
            opacity: 1;
            &:nth-child(even) {
                transform: scale(1.092) translateX(rem(5));
                @media (max-width: em(350)) {
                    transform: scale(1.05) translateX(rem(3));
                }
            }
            &:nth-child(odd) {
                transform: scale(1.092) translateX(rem(-5));
                @media (max-width: em(350)) {
                    transform: scale(1.05) translateX(rem(-3));
                }
            }
        }
    }

    &__bg-ibg_contain {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
    }

    &__length {
        font-size: rem(17);
        line-height: math.div(20, 17);
        font-weight: 700;
        margin-bottom: rem(16);
        .fr & {
            font-size: rem(12);
            margin-top: rem(6);
            margin-bottom: rem(10);
        }
    }

    &__price {
        font-size: rem(14);
        line-height: math.div(15, 14);
        margin-bottom: rem(7);
        strong {
            line-height: math.div(22, 22);
            font-size: rem(22);
            font-weight: 700;
        }
    }

    &__subtitle {
        font-weight: 800;
        @include adaptiveValue("font-size", 14, 12);
        line-height: rem(20);
        text-transform: uppercase;
        background-color: $c_primary_02;
        min-height: rem(20);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px rem(-13) rem(10) rem(-13);
        .ru &,
        .fr &,
        .nl &,
        .ja & {
            font-size: rem(12);
        }
        @media (max-height: em(375)) {
            font-size: rem(12) !important;
        }
    }

    &__monthly {
        font-size: rem(12);
        line-height: math.div(14, 12);
    }

    &__tag {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        background-color: $c_extra_01;
        font-weight: 800;
        font-size: rem(10);
        line-height: math.div(12, 10);
        width: rem(30);
        height: rem(30);
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    &__bottom {
        text-align: center;
        h4 {
            font-family: "Roboto";
            font-size: rem(11);
            line-height: math.div(13, 11);
            color: $c_text_01;
            mix-blend-mode: normal;
            opacity: 0.5;
            .fr & {
                font-size: rem(10);
            }
        }
    }

    &__btn {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 16, 10);
        }
    }
}
